.contact{
    padding: 100px 0;
    background-image: url(../../images/services-bg.png);
    background-repeat: no-repeat;
}
.contact img{
    width: 100%;
}
.contactForm-title{
    font-size: 35px;
    font-family: monospace;
    font-weight: 800;
    margin-bottom: 28px;
    text-transform: uppercase;
}
.contactForm{
    margin-right: 20px;
}